In [728]:
import pandas as pd

In [729]:
data1 = pd.read_csv('files_for_lab\csv_files\marketing_customer_analysis.csv')

In [730]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [731]:
display(data1)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [732]:
data1 = data1.drop(['Unnamed: 0'], axis = 1)

In [733]:
data1.columns = data1.columns.str.lower()

In [734]:
data1.columns = data1.columns.str.replace(' ','_')

In [735]:
data1_column_numerical = data1.select_dtypes(include=['int','float'])

In [736]:
data1_column_numerical.columns.tolist()

['customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

In [737]:
data1_column_categorial = data1.select_dtypes(include=['object'])

In [738]:
data1_column_categorial.columns.tolist()

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

In [739]:
data1_column_numerical.isna().sum()

customer_lifetime_value            0
income                             0
monthly_premium_auto               0
months_since_last_claim          633
months_since_policy_inception      0
number_of_open_complaints        633
number_of_policies                 0
total_claim_amount                 0
dtype: int64

In [740]:
data1_column_categorial.isna().sum()

customer                0
state                 631
response              631
coverage                0
education               0
effective_to_date       0
employmentstatus        0
gender                  0
location_code           0
marital_status          0
policy_type             0
policy                  0
renew_offer_type        0
sales_channel           0
vehicle_class         622
vehicle_size          622
vehicle_type         5482
dtype: int64

In [741]:
#data1.months_since_last_claim.value_counts()

In [742]:
#data1.number_of_open_complaints.value_counts()

In [743]:
data1.number_of_open_complaints = data1.number_of_open_complaints.fillna(0)

In [744]:
data1.months_since_last_claim = data1.months_since_last_claim.fillna(-99)

Checking what other values are in the NaN columns

In [745]:
#data1.months_since_last_claim.fillna().value_counts()

In [746]:
#data1.state.value_counts()

In [747]:
#data1.response.value_counts()

In [748]:
#data1.vehicle_class.value_counts()

In [749]:
#data1.vehicle_size.value_counts()

In [750]:
#data1.vehicle_type.value_counts()

In [751]:
#data1[data1.isna().any(axis=1)]

In [752]:
data1.dropna(axis='columns')

,customer,customer_lifetime_value,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount
0,DK49336,4809.216960,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000
1,KX64629,2228.525238,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331
2,LZ68649,14947.917300,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000
3,XL78013,22332.439460,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411
4,QA50777,9025.067525,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,-99.0,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,15563.369440,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,-99.0,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000
10906,KX53892,5259.444853,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929
10907,TL39050,23893.304100,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996
10908,WA60547,11971.977650,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849
10909,IV32877,6857.519928,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397

In [753]:
data1.vehicle_type = data1.vehicle_type.fillna('unknown')
data1.vehicle_class = data1.vehicle_class.fillna('unknown')
data1.vehicle_size = data1.vehicle_size.fillna('unknown')
data1.state = data1.state.fillna('unknown')
data1.response = data1.response.fillna('unknown')
data1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,unknown
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,unknown
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,unknown
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,unknown,6857.519928,unknown,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,unknown

In [754]:
data1[data1.isna().any(axis=1)]

Empty DataFrame
Columns: [customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type]
Index: []

[0 rows x 25 columns]

In [755]:
data1_month = data1['effective_to_date']
display(data1_month)

0        2/18/11
1        1/18/11
2        2/10/11
3        1/11/11
4        1/17/11
          ...
10905    1/19/11
10906     1/6/11
10907     2/6/11
10908    2/13/11
10909     1/8/11
Name: effective_to_date, Length: 10910, dtype: object

In [756]:
data1_months = pd.to_datetime(data1['effective_to_date'])
data1_months
data1['month_of_the_year'] = data1_months

In [757]:
i=0
for date in data1['month_of_the_year']:
    data1.month_of_the_year[i] = date.month
    i+=1

C:\Users\nicol\AppData\Local\Temp/ipykernel_8244/3677180568.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.month_of_the_year[i] = date.month

In [758]:
data1.month_of_the_year.value_counts()

1    5818
2    5092
Name: month_of_the_year, dtype: int64

In [759]:
#mask = lambda x: x<=3

In [760]:
print(data1.loc[data1.month_of_the_year <= 3])

      customer       state  customer_lifetime_value response  coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
1      KX64629  California              2228.525238       No     Basic
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
4      QA50777      Oregon              9025.067525       No   Premium
...        ...         ...                      ...      ...       ...
10905  FE99816      Nevada             15563.369440       No   Premium
10906  KX53892      Oregon              5259.444853       No     Basic
10907  TL39050     Arizona             23893.304100       No  Extended
10908  WA60547  California             11971.977650       No   Premium
10909  IV32877     unknown              6857.519928  unknown     Basic

      education effective_to_date employmentstatus gender  income  ...  \
0       College           2/18/11         Employed      M   48029  ...
1       College           1/18/11       Unemployed      F       0  ...
2      Bachelor           2/10/11         Employed      M   22139  ...
3       College           1/11/11         Employed      M   49078  ...
4      Bachelor           1/17/11    Medical Leave      F   23675  ...
...         ...               ...              ...    ...     ...  ...
10905  Bachelor           1/19/11       Unemployed      F       0  ...
10906   College            1/6/11         Employed      F   61146  ...
10907  Bachelor            2/6/11         Employed      F   39837  ...
10908   College           2/13/11         Employed      F   64195  ...
10909  Bachelor            1/8/11       Unemployed      M       0  ...

      number_of_policies     policy_type        policy  renew_offer_type  \
0                      9  Corporate Auto  Corporate L3            Offer3
1                      1   Personal Auto   Personal L3            Offer4
2                      2   Personal Auto   Personal L3            Offer3
3                      2  Corporate Auto  Corporate L3            Offer2
4                      7   Personal Auto   Personal L2            Offer1
...                  ...             ...           ...               ...
10905                  7   Personal Auto   Personal L1            Offer3
10906                  6   Personal Auto   Personal L3            Offer2
10907                  2  Corporate Auto  Corporate L3            Offer1
10908                  6   Personal Auto   Personal L1            Offer1
10909                  3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class vehicle_size  \
0              Agent          292.800000  Four-Door Car      Medsize
1        Call Center          744.924331  Four-Door Car      Medsize
2        Call Center          480.000000            SUV      Medsize
3             Branch          484.013411  Four-Door Car      Medsize
4             Branch          707.925645  Four-Door Car      Medsize
...              ...                 ...            ...          ...
10905            Web         1214.400000     Luxury Car      Medsize
10906         Branch          273.018929  Four-Door Car      Medsize
10907            Web          381.306996     Luxury SUV      Medsize
10908         Branch          618.288849            SUV      Medsize
10909            Web         1021.719397            SUV      Medsize

      vehicle_type month_of_the_year
0          unknown                 2
1          unknown                 1
2                A                 2
3                A                 1
4          unknown                 1
...            ...               ...
10905            A                 1
10906            A                 1
10907      unknown                 2
10908            A                 2
10909      unknown                 1

[10910 rows x 26 columns]