In [679]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [680]:
pd.set_option('display.max_columns', None) # displays all columns in dfs

#import warnings
#warnings.filterwarnings('ignore') # no more warnings

In [681]:
data1 = pd.read_csv('files_for_lab\csv_files\marketing_customer_analysis.csv')

# 1. Show the dataframe shape.

In [682]:
data1.shape

(10910, 26)

In [683]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [684]:
display(data1)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

# 2. Standardize header names.

In [685]:
data1 = data1.drop(['Unnamed: 0'], axis = 1)

In [686]:
data1.columns = data1.columns.str.lower()

In [687]:
data1.columns = data1.columns.str.replace(' ','_')

# 3. Which columns are numerical?

In [688]:
data1_column_numerical = data1.select_dtypes(include=['int','float'])

In [689]:
data1_column_numerical.columns.tolist()

['customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

# 4. Which columns are categorical?

In [690]:
data1_column_categorial = data1.select_dtypes(include=['object'])

In [691]:
data1_column_categorial.columns.tolist()

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

# 5. Check and deal with NaN values.

In [692]:
data1_column_numerical.isna().sum()

customer_lifetime_value            0
income                             0
monthly_premium_auto               0
months_since_last_claim          633
months_since_policy_inception      0
number_of_open_complaints        633
number_of_policies                 0
total_claim_amount                 0
dtype: int64

In [693]:
data1_column_categorial.isna().sum()

customer                0
state                 631
response              631
coverage                0
education               0
effective_to_date       0
employmentstatus        0
gender                  0
location_code           0
marital_status          0
policy_type             0
policy                  0
renew_offer_type        0
sales_channel           0
vehicle_class         622
vehicle_size          622
vehicle_type         5482
dtype: int64

In [694]:
#data1.months_since_last_claim.value_counts()

In [695]:
#data1.number_of_open_complaints.value_counts()

In [696]:
#data1.number_of_open_complaints.describe()

In [697]:
#data1.months_since_last_claim.describe()

Replacing numerical NaNs with median

In [698]:
data1.number_of_open_complaints = data1.number_of_open_complaints.fillna(0)

In [699]:
data1.months_since_last_claim = data1.months_since_last_claim.fillna(14)

Checking what other values are in the categorial NaN columns

In [700]:
#data1.months_since_last_claim.fillna().value_counts()

In [701]:
#data1.state.value_counts()

In [702]:
#data1.response.value_counts()

In [703]:
#data1.vehicle_class.value_counts()

In [704]:
#data1.vehicle_size.value_counts()

In [705]:
#data1.vehicle_type.value_counts()

In [706]:
#data1[data1.isna().any(axis=1)]

In [707]:
#data1.dropna(axis='columns')

Replacing categorial NaNs with 'unknown' for now

In [708]:
#data1.vehicle_type = data1.vehicle_type.fillna('unknown')
#data1.vehicle_class = data1.vehicle_class.fillna('unknown')
#data1.vehicle_size = data1.vehicle_size.fillna('unknown')
#data1.state = data1.state.fillna('unknown')
#data1.response = data1.response.fillna('unknown')
#data1

#data1[data1.isna().any(axis=1)]

# 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March

In [709]:
#data1['effective_to_date']

In [710]:
#This checks all the columns for 'object' datatype
for col in data1.columns:
    if data1[col].dtype == 'object':
        #create a new column 'month', use to_datetime to convert the date and use DatetimeIndex().month to only get the month
        try:
            data1['month'] = pd.DatetimeIndex(pd.to_datetime(data1[col])).month
        except ValueError:
            pass

Data already seems to be sorted by January and February

# 7. BONUS: Put all the previously mentioned data transformations into a function.

In [711]:
#Lets delete the duplicate column if it is there
try:
    data1 = data1.drop(['Unnamed: 0'], axis = 1)
except KeyError:
    pass

def eda(df):
    print('shape: ', df.shape)
        
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ','_')    
    print('column names have been standardized')
    
    print('numerical columns: ' , df.select_dtypes(include=['int','float']).columns.to_list())
    
    print('categorial columns: ', df.select_dtypes(include=['object']).columns.to_list())    
    
    #First choose what we want to filter for, numerical or categorial.
    numerics = ['int16', 'int32', 'int64','float64']
    #Create the dataframe with the chosen(numerical in this case) filter.
    df_num = data1.select_dtypes(include=numerics)
    #Create a subset of the chosen filter with columns that have NaN values.
    subset_df_num = df_num.loc[:, data1.isnull().any()]
    #For numerical filter we fill the NaNs with that columns median.
    subset_df_num = subset_df_num.fillna(subset_df_num.median())
    #Update original dataframe with filled NaN values
    data1.update(subset_df_num)
    print('Numerical NaN values have been filled with the columns median')
    
    #for col in data1.columns:
    #if data1[col].dtype == 'float64':
    #    try:
    #        data1[col] = data1[col].fillna(data1[col].median())
    #    except ValueError:
    #        pass
    
    #Similar to numerical filter
    categories = ['object']
    df_cat = data1.select_dtypes(include=categories)
    subset_df_cat = df_cat.loc[:, data1.isnull().any()]
    #Here we fill the NaNs with a new string 'unknown'
    subset_df_cat = subset_df_cat.fillna('unknown')
    data1.update(subset_df_cat)
    print('Categorial NaN values have been filled with \'unknown\' string')
    
    #This checks all the columns for object datatype
    for col in data1.columns:
        if data1[col].dtype == 'object':
            #create a new column 'month', use to_datetime to convert the date and use DatetimeIndex().month to only get the month
            try:
                data1['month'] = pd.DatetimeIndex(pd.to_datetime(data1[col])).month
            except ValueError:
                pass
            
    #data1['month_of_the_year'] = pd.to_datetime(data1['effective_to_date'])
    #data1['month_of_the_year'] = pd.DatetimeIndex(pd.to_datetime(data1['effective_to_date'])).month

In [712]:
eda(data1)
display(data1)

shape:  (10910, 26)
column names have been standardized
numerical columns:  ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'total_claim_amount', 'month']
categorial columns:  ['customer', 'state', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'location_code', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type']
Numerical NaN values have been filled with the columns median
Categorial NaN values have been filled with 'unknown' string

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,unknown,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,unknown,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,14.0,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,14.0,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,unknown,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,unknown,6857.519928,unknown,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,unknown,1